wandb/
*.pth
*.ckpt
ckpts/
train/
data/
*.pkl
__pycache__/
*.pyc
hf_models/
results/
*.bak
*.bak2
*.before_skip_missing
*.before_skip_missing_cam
hf_models/
pretrained/
*.pth
*.safetensors
*.bin
*.zip
all_py_files.txt
*.bak_*
train/
data/
wandb/
